@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
@import "./components/card/card.css";

* {
  box-sizing: border-box;
}

:root {
  --border-radius: 14px;
  --primary-color: #000;
  --second-color: #ec9b3b;
  --card-background-color: #fff;
}

body {
  background: linear-gradient(
      to bottom,
      rgba(140, 122, 122, 1) 0%,
      rgba(175, 135, 124, 1) 65%,
      rgba(175, 135, 124, 1) 100%
    )
    fixed;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg")
    no-repeat center center fixed;
  background-size: cover;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: #9e9e9e;
  margin-top: 30px;
}

/* global css */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-size: 3rem;
  color: #fff;
}

header p {
  color: #fff;
  font-size: 1.3rem;
}

main {
  display: grid;
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  padding: 20px 0 20px 0;
}

footer p {
  color: #fff;
}

/* form */
form {
  display: grid;
  grid-template-areas: "a b" "c c";
  justify-content: center;
  width: 100%;
}

form input {
  width: 300px;
  padding: 5px;
  grid-area: a;
  border-radius: var(--border-radius);
  margin-right: 12px;
}

form select {
  grid-area: b;
  border-radius: var(--border-radius);
}

form button {
  margin-top: 20px;
  grid-area: c;
  line-height: 1.5rem;
  font-weight: 600;
  border-radius: var(--border-radius);
}

#app {
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
  gap: 100px;
}

.msg {
  background-color: var(--card-background-color);
}
