.card {
  width: 250px;
  position: relative;
  display: inline-block;
  background-color: var(--card-background-color);
  border-radius: var(--border-radius);
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
}

.card__image {
  display: block;
  height: 250px;
  background-size: cover;
  margin-bottom: 20px;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.card__category {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
  color: var(--second-color);
}

.card__cocktail-name {
  font-size: 26px;
  color: var(--primary-color);
  font-weight: 900;
  margin-bottom: 5px;
  line-height: 1.6rem;
  padding: 0 1rem 0 1rem;
  min-height: 80px;
}

.card__cocktail-description {
  padding: 20px;
  margin-bottom: 10px;
}

.card__cocktail-infos {
  display: flex;
  justify-content: space-around;
  background-color: var(--second-color);
  color: white;
  font-weight: 700;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.one-third {
  border-right: 1px solid #bd7c2f;
  width: 33.33%;
  padding: 5px 0 5px 0;
}

.no-border {
  border: none;
}

.subheading {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
}

.display-recipe {
  padding: 0.7rem 2rem;
  border-radius: 50px;
  margin-bottom: 2rem;
  background-color: var(--second-color);
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  box-shadow: 2px 2px 6px #ccc;
}

.display-recipe:hover {
  background-color: #a86717;
}
